# Python
*.pyc
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# vn.py
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

# Misc
.DS_Store
/earnmi_demo/strategy_demo/holdbars/imgs/
/earnmi_demo/train_data/files/
/earnmi_demo/strategy_demo/kbars/files/
/earnmi_demo/main/models/
/earnmi/model/files/
/_book